 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

 :root {
 --text-color: rgb(29, 24, 24);
 --bg-url: url(./assets/82f5bdbe-3d6d-4250-94be-bf66c876360e.jpeg);
 }

body {
    background: var(--bg-url);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 100vh; /* Garante que o body ocupe toda a altura da tela */
    margin: 0; /* Remove margens padrão do body */
}

body * {
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
}

#container {
  animation: fadein 1.2s ease;
}

@keyframes fadein {
  from { opacity: 0; transform: translateY(30px);}
  to   { opacity: 1; transform: translateY(0);}
}

#container {
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;
    padding: 0 24px;
}

#profile {
    text-align: center;  
    padding: 24px;
}

#profile img {
    width: 112px;
    border: 2px solid rgb(0, 0, 0); /* borda preta */
    border-radius: 50%; /* deixa a borda arredondada */
}
#profile p {
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(222, 226, 230);
    text-shadow:  1px 1px 8px rgb(0, 0, 0);/* sombra para destacar */
    line-height: 24px;
    margin-top: 12px;
    letter-spacing: 1px;
}

/*lista*/

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24;
} 

ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
    padding: 16px 24px;
    background: rgba(145, 142, 142, 0.493);
    border: 1px solid rgb(250, 248, 248);
    border-radius: 8px;
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;
    transition: background 0.2s, transform 0.2s;
}
ul li a:hover {
    background: rgba(0, 0, 0, 0.1);
    border: 1.5px solid var(--text-color);
    transform: scale(1.05);
}

#social-links {
    display: flex;
    justify-content: center;
    padding: 24px 0;
    font-size: 40px;
    gap: 16px;;
}

#social-links a {
    transition: transform 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    padding: 16px;
    border-radius: 50%;
}

#social-links a:hover {
    background: rgba(151, 147, 147, 0.993);
    border-radius: 50%;
    justify-content: center;
    transform: translateY(-8px) scale(1.1);
}

/* ...existing code... */
ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  max-width: 400px; /* ajuste conforme necessário */
  display: flex;
  flex-direction: column;
  gap: 16px; /* espaço entre as caixas */
}

li {
  width: 100%;
}

#minha-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;     /* remove espaço interno */
    margin: 0;      /* remove espaço externo */
}

#minha-logo img {
    width: 90px;
    height: auto;
    margin: 0;
}
